/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('./fonts/roboto-v30-latin-regular.woff2') format('woff2') /* Super Modern Browsers */
}
/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url('./fonts/roboto-v30-latin-regular.woff2') format('woff2') /* Super Modern Browsers */
}

/*Home Page*/
.image-wrapper{
  display: flex;
  justify-content: center;
}

.homeImage {
  width: 100%;
}

.overlay {
  width:0px;
  height:0px;
  border-bottom: 100% solid #12474484;
  border-left: 100% solid transparent;
}