.journey {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.background {
  position: absolute;
  width: 1410px;
  background-image: url(./Images/ForestRoad.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 30px 0px 30px;
  height: 500px;
}

.results-label {
  
}