*, *:before, *:after {
  box-sizing: border-box;
  z-index: 1;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* roboto-100 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url("./Fonts/roboto-v30-latin-regular.woff2") format("woff2");
}
/* roboto-100italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url("./Fonts/roboto-v30-latin-regular.woff2") format("woff2");
}
/*Home Page*/
.image-wrapper {
  display: flex;
  justify-content: center;
}

.homeImage {
<<<<<<< HEAD
  width: 100%;
}

.overlay {
  width: 0px;
  height: 0px;
  border-bottom: 100% solid rgba(18, 71, 68, 0.5176470588);
  border-left: 100% solid transparent;
=======
  width: 1440px;
  height: 100%;
  object-fit: contain;
  padding: 0px 10px 0px 10px;
  z-index: 1;
}

.overlay {
  position: absolute;
  z-index: 2;
  width: 1412px;
  height: 281px;
  top: 542px;
  background: rgba(18, 71, 68, 0.5);
  border-radius: 0px 0px 5px 5px;
}

.slogan {
  position: absolute;
  z-index: 2;
  width: 891px;
  height: 118px;
  left: 500px;
  top: 662px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  text-align: right;
  color: #FFFFFF;
}

.slogan span {
  position: absolute;
  z-index: 2;
  width: 891px;
  height: 118px;
  left: 3px;
  top: 65px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  text-align: right;
  color: #FFFFFF;
}

.learn-more {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 735px;
  left: 52px;
  background: #FFFFFF;
  border-radius: 6px;
  font-weight: 900;
  z-index: 2;
  font-size: 21px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  justify-content: center;
  text-decoration-line: none;
}

img.decoration-1 {
  position: absolute;
  z-index: 0;
  top: 600px;
  right: -100px;
}

img.decoration-2 {
  position: absolute;
  z-index: 0;
  width: 1072px;
  height: 773px;
  top: 500px;
  left: -366px;
  rotate: -112deg;
}

.box1 {
  position: absolute;
  margin: 30px;
  height: 141px;
  background: #BCD1C3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-weight: 800;
  font-size: 42px;
  line-height: 47px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.body {
  display: flex;
  justify-content: center;
}

.main-desc {
  width: 80%;
}

.text {
  font-family: "Roboto";
  font-style: normal;
}

.text-primary {
  color: #789682;
}

.text-secondary {
  color: #839399;
}

.text-secondary-dark {
  color: #366B68;
}

.main-user-try {
  top: 1020px;
  font-weight: 800;
  font-size: 50px;
  position: absolute;
}

.border-button {
  position: absolute;
  background: #FFFFFF;
  border: 5px solid #839399;
  border-radius: 6px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration-line: none;
  padding: 10px 25px 10px 25px;
  color: #839399;
  top: 1100px;
}

.border-button:hover {
  text-decoration-line: underline;
>>>>>>> main
}

.top-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  left: 40px;
  top: 20px;
  padding: 5px 10px;
}

.nav-link-wrapper {
  width: 70%;
  height: 100%;
  display: flex;
}

.nav-user-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btn-filled {
  width: 130px;
  height: 30px;
  background: #366B68;
  border-radius: 6px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: #366B68;
  color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  margin: 10px 5px 10px 10px;
=======
  margin: 10px 15px 10px 10px;
>>>>>>> main
  text-decoration-line: none;
  border: none;
}

.btn-filled:hover {
  background: #124744;
  color: #fff;
}

.nav-text-dark {
  width: 130px;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #366B68;
  display: flex;
  justify-content: center;
  margin: 10px 20px;
  background-color: white;
  border: none;
  text-decoration-line: none;
}

.nav-text-dark:hover, .nav-text-light:hover {
  text-decoration-line: underline;
}

.nav-text-light {
  width: 130px;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #366B68;
  display: flex;
  justify-content: center;
  margin: 10px 20px;
  background-color: white;
  text-decoration-line: none;
  border: none;
}

.formBlock {
  max-width: 300px;
  background-color: #FFF;
  border: 1px solid #ddd;
  position: absolute;
  top: 10px;
  left: 50px;
  padding: 10px;
  z-index: 999;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  width: 100%;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.journey {
  background-image: url(./Images/ForestRoad.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=App.css.map */
